<a href="https://colab.research.google.com/github/Charee-Villapong/charee-villapong/blob/master/DAU%EF%BC%881%E6%97%A5%E3%81%AB%E3%83%AD%E3%82%B0%E3%82%A4%E3%83%B3%E3%81%97%E3%81%9F%E3%83%A6%E3%83%8B%E3%83%BC%E3%82%AF%E3%83%A6%E3%83%BC%E3%82%B6%E3%83%BC%E6%95%B0%EF%BC%89%E3%82%92%E6%97%A5%E3%81%94%E3%81%A8%E3%81%AB%E6%8A%BD%E5%87%BA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**DAU（1日にログインしたユニークユーザー数）を日ごとに抽出**

In [ ]:
import sqlite3
filepath = "test2.sqlite"
conn = sqlite3.connect(filepath) 
cur = conn.cursor()
cur.execute("DROP TABLE IF EXISTS quest_log")
cur.execute("""CREATE TABLE quest_log(
    user_id INTEGER,
    timestamp INTEGER
)""")
conn.commit()

In [ ]:
cur = conn.cursor()
data = [
(10001,'2016-03-19 15:50:00'),
(10001,'2016-03-20 00:20:00'),
(10001,'2016-03-23 14:10:00'),
(10001,'2016-03-24 00:15:00'),
(10002,'2016-03-21 12:50:00'),
(10003,'2016-03-23 11:00:00'),
(10003,'2016-03-24 09:10:00'),
(10003,'2016-03-24 11:20:00'),
(10003,'2016-05-01 11:20:00'),
(10003,'2016-05-05 11:20:00'),
(10003,'2016-05-07 11:20:00'),
(10006,'2016-04-02 13:00:00'),
(10006,'2016-04-03 11:20:00'),
(10006,'2016-04-12 11:20:00'),
(10007,'2016-04-30 15:20:00'),
(10007,'2016-05-01 19:00:00'),
(10007,'2016-05-02 12:00:00'),
(10007,'2016-05-02 19:00:00'),
(10007,'2016-05-03 19:00:00')
]
cur.executemany(
    "INSERT INTO quest_log(user_id,timestamp) VALUES (?,?)", data)
conn.commit()

In [ ]:
cur = conn.cursor()
cur.execute("select count(user_id) as new_user_count ,strftime('%Y-%m-%d', timestamp) as day from quest_log group by strftime('%Y-%m-%d', timestamp)")
items_list = cur.fetchall()
items_list

[(1, '2016-03-19'),
 (1, '2016-03-20'),
 (1, '2016-03-21'),
 (2, '2016-03-23'),
 (3, '2016-03-24'),
 (1, '2016-04-02'),
 (1, '2016-04-03'),
 (1, '2016-04-12'),
 (1, '2016-04-30'),
 (2, '2016-05-01'),
 (2, '2016-05-02'),
 (1, '2016-05-03'),
 (1, '2016-05-05'),
 (1, '2016-05-07')]