<a href="https://colab.research.google.com/github/Charee-Villapong/charee-villapong/blob/master/Groupby_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    "key1":["a","a","b","b","a"],
    "key2":["one","two","one","two","one"],
    "data1":np.random.randn(5),
    "data2":np.random.randn(5)
})
df

  key1 key2     data1     data2
0    a  one  0.560495 -0.028325
1    a  two -1.208942 -0.567239
2    b  one  1.060317 -3.262447
3    b  two  0.953062  0.933029
4    a  one  2.018917 -1.554266

In [13]:
grouped = df["data1"].groupby(df["key1"])
grouped

In [14]:
grouped.mean()

key1
a    0.456823
b    1.006690
Name: data1, dtype: float64

In [22]:
df["data1"].groupby([df["key1"],df["key2"]]).mean()

key1  key2
a     one     1.289706
      two    -1.208942
b     one     1.060317
      two     0.953062
Name: data1, dtype: float64