<a href="https://colab.research.google.com/github/Charee-Villapong/charee-villapong/blob/master/Spreadsheet_connect.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [59]:
import gspread
from oauth2client.service_account import ServiceAccountCredentials
import json

SCOPE = ["https://spreadsheets.google.com/feeds","https://www.googleapis.com/auth/drive"] 
SERVICE_ACCOUNT_FILE = "/content/sodium-burner-304209-0b84d26de23a.json"
SERVICE_ACCOUNT_FILE2 = "/Users/yoshitakanishikawa/Desktop/python/sodium-burner-304209-0b84d26de23a.json"

credentials = ServiceAccountCredentials.from_json_keyfile_name(SERVICE_ACCOUNT_FILE,SCOPE)

gs = gspread.authorize(credentials)

SPREADSHEET_KEY = "1Pq6pKfLRQ5sb1ffJSmmTKGpy3bheWiH0miy-1tDWPI8"
worksheet = gs.open_by_key(SPREADSHEET_KEY).worksheet("発注管理表")

print(worksheet.acell("D2").value)

40,000

In [60]:
import pandas as pd

In [61]:
workbook = gs.open_by_key(SPREADSHEET_KEY)
worksheet = workbook.worksheet("発注管理表")

In [62]:
df = pd.DataFrame(worksheet.get_all_values())

In [63]:
df.head()

      0       1   2       3       4        5
0  社員番号      氏名  支店    売上目標    売上実績      達成率
1  a001   辻上 明佳  東京  40,000  39,856   99.60%
2  a002   押元 大成  横浜  48,000  45,678   95.20%
3  a003  石崎 和香菜  東京  39,000  42,011  107.70%
4  a004   斉 あきの  大阪  43,000  39,780   92.50%

In [64]:
df.columns = df.iloc[0]
df.head()

0  社員番号      氏名  支店    売上目標    売上実績      達成率
0  社員番号      氏名  支店    売上目標    売上実績      達成率
1  a001   辻上 明佳  東京  40,000  39,856   99.60%
2  a002   押元 大成  横浜  48,000  45,678   95.20%
3  a003  石崎 和香菜  東京  39,000  42,011  107.70%
4  a004   斉 あきの  大阪  43,000  39,780   92.50%

In [65]:
df = df.drop(df.index[0])

In [66]:
df.dtypes

0
社員番号    object
氏名      object
支店      object
売上目標    object
売上実績    object
達成率     object
dtype: object

In [67]:
df["売上実績"] = df["売上実績"].str.replace(",","")
df["売上目標"] = df["売上目標"].str.replace(",","")
df.head()

0  社員番号      氏名  支店   売上目標   売上実績      達成率
1  a001   辻上 明佳  東京  40000  39856   99.60%
2  a002   押元 大成  横浜  48000  45678   95.20%
3  a003  石崎 和香菜  東京  39000  42011  107.70%
4  a004   斉 あきの  大阪  43000  39780   92.50%
5  a005   寺下 春樹  札幌  38000  39271  103.30%

In [68]:
df["売上実績"] = df["売上実績"].astype(int)
df["売上目標"] = df["売上目標"].astype(int)
df.head()
df.dtypes

0
社員番号    object
氏名      object
支店      object
売上目標     int64
売上実績     int64
達成率     object
dtype: object

In [69]:
df_sum= df[['支店','売上目標']].groupby('支店').sum()
print(df_sum)

0     売上目標
支店
大阪  455000
札幌  264000
東京  415000
横浜  387000
福岡  198000

In [70]:
!pip install gspread_dataframe

Requirement already satisfied: gspread_dataframe in /usr/local/lib/python3.6/dist-packages (3.0.8)
Requirement already satisfied: pandas>=0.14.0 in /usr/local/lib/python3.6/dist-packages (from gspread_dataframe) (1.1.5)
Requirement already satisfied: gspread>=3.0.0 in /usr/local/lib/python3.6/dist-packages (from gspread_dataframe) (3.0.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.14.0->gspread_dataframe) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.14.0->gspread_dataframe) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.14.0->gspread_dataframe) (2.8.1)
Requirement already satisfied: requests>=2.2.1 in /usr/local/lib/python3.6/dist-packages (from gspread>=3.0.0->gspread_dataframe) (2.23.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas>=0.14.0->gspread_dataframe) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.2.1->gspread>=3.0.0->gspread_dataframe) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.2.1->gspread>=3.0.0->gspread_dataframe) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.2.1->gspread>=3.0.0->gspread_dataframe) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.2.1->gspread>=3.0.0->gspread_dataframe) (3.0.4)

In [71]:
from gspread_dataframe import set_with_dataframe

In [ ]:
workbook.add_worksheet(title = "目標合計",rows = 50,cols = 10)

In [76]:
set_with_dataframe(workbook.worksheet("目標合計"),df_sum,include_index=True)
#https://docs.google.com/spreadsheets/d/1Pq6pKfLRQ5sb1ffJSmmTKGpy3bheWiH0miy-1tDWPI8/edit#gid=843994185