<a href="https://colab.research.google.com/github/Charee-Villapong/charee-villapong/blob/master/%E3%82%B2%E3%83%BC%E3%83%A0%E3%82%92%E5%89%8A%E9%99%A4%E3%81%97%E3%81%A6%E3%81%84%E3%81%AA%E3%81%84%E3%83%A6%E3%83%BC%E3%82%B6%E3%83%BC%E3%81%8C%E4%BD%BF%E3%81%A3%E3%81%9F%E9%AD%94%E6%B3%95%E7%9F%B3%E3%81%AE%E5%90%88%E8%A8%88%E6%95%B0%E3%81%AE%E7%B7%8F%E5%92%8C%E3%82%92%E5%87%BA%E5%8A%9B.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**ゲームを削除していないユーザーが使った魔法石の合計数の総和を出力**

In [ ]:
import sqlite3
filepath = "test2.sqlite"
conn = sqlite3.connect(filepath) 
cur = conn.cursor()
cur.execute("DROP TABLE IF EXISTS user_master")
cur.execute("""CREATE TABLE user_master(
    user_id INTEGER,
    install_datetime INTEGER,
    delete_flg INTEGER
)""")
cur.execute("DROP TABLE IF EXISTS mahoseki_log")
cur.execute("""CREATE TABLE mahoseki_log(
    user_id INTEGER,
    timestamp TEXT,
    amount INTEGER,
    category INTEGER,
    price_yen INTEGER
)""")
conn.commit()

In [ ]:
cur = conn.cursor()
data = [(10001,'2016-03-19 15:45:00',0),
(10002,'2016-03-21 12:30:00',1),
(10003,'2016-03-23 09:15:00',0),
(10004,'2016-03-25 06:00:00',0),
(10005,'2016-04-02 10:00:00',1),
(10006,'2016-04-02 12:50:00',0),
(10007,'2016-04-30 15:00:00',0)]
cur.executemany(
    "INSERT INTO user_master (user_id, install_datetime,delete_flg) VALUES (?,?,?)", data)
conn.commit()

In [ ]:
cur = conn.cursor()
data2 = [
(10001,'2016-03-19 15:50:00',8,'present',None),
(10001,'2016-03-19 16:02:00',1,'present',None),
(10001,'2016-03-23 14:21:00',-5,'gacha',None),	
(10001,'2016-03-23 14:30:00',-1,'stamina',None),	
(10002,'2016-03-21 12:50:00',8,'present',None),	
(10002,'2016-03-21 12:55:00',-5,'gacha',None),
(10003,'2016-03-23 11:00:00',8,'present',None),	
(10003,'2016-03-23 11:10:00',1,'present',None),
(10003,'2016-03-23 11:22:00',1,'present',None),
(10003,'2016-03-23 11:30:00',90,'buy',5400),
(10003,'2016-03-23 11:32:00',-50,'gacha',None),
(10003,'2016-03-23 11:36:00',-50,'gacha',None),
(10006,'2016-04-02 13:00:00',8,'present',None),
(10006,'2016-04-02 13:30:00',1,'present',None),
(10006,'2016-04-02 14:00:00',1,'present',None),
(10006,'2016-04-02 17:00:00',90,'buy',5400),
(10007,'2016-04-30 19:00:00',8,'present',None),
(10007,'2016-04-30 19:20:00',1,'present',None),
(10007,'2016-04-30 19:40:00',1,'present',None),
(10007,'2016-04-30 20:10:00',90,'buy',5400)
]
cur.executemany(
    "INSERT INTO mahoseki_log(user_id,timestamp,amount,category,price_yen) VALUES (?,?,?,?,?)", data2)
conn.commit()

In [ ]:
cur = conn.cursor()
cur.execute("SELECT user_master.user_id,user_master.delete_flg,mahoseki_log.category,mahoseki_log.amount AS shukudai FROM user_master INNER JOIN mahoseki_log ON user_master.user_id = mahoseki_log.user_id;")
items_list = cur.fetchall()
items_list

[(10001, 0, 'gacha', -5),
 (10001, 0, 'stamina', -1),
 (10001, 0, 'present', 1),
 (10001, 0, 'present', 8),
 (10002, 1, 'gacha', -5),
 (10002, 1, 'present', 8),
 (10003, 0, 'gacha', -50),
 (10003, 0, 'gacha', -50),
 (10003, 0, 'present', 1),
 (10003, 0, 'present', 1),
 (10003, 0, 'present', 8),
 (10003, 0, 'buy', 90),
 (10006, 0, 'present', 1),
 (10006, 0, 'present', 1),
 (10006, 0, 'present', 8),
 (10006, 0, 'buy', 90),
 (10007, 0, 'present', 1),
 (10007, 0, 'present', 1),
 (10007, 0, 'present', 8),
 (10007, 0, 'buy', 90)]

In [ ]:
cur = conn.cursor()
cur.execute("""
SELECT SUM(shukudai.amount) * -1 FROM (
SELECT *
FROM user_master INNER JOIN mahoseki_log ON user_master.user_id = mahoseki_log.user_id
) AS shukudai
WHERE (
shukudai.amount < 0 AND
shukudai.delete_flg = 0
)
"""
)
items_list = cur.fetchall()
items_list

[(106,)]

In [ ]:
cur = conn.cursor()
cur.execute("""
SELECT SUM(shukudai.amount) * -1 FROM (
SELECT *
FROM user_master INNER JOIN mahoseki_log ON user_master.user_id = mahoseki_log.user_id
) AS shukudai
WHERE (
shukudai.amount < 0 AND
shukudai.delete_flg = 0
)
"""
)
items_list = cur.fetchall()
items_list

[(106,)]