<a href="https://colab.research.google.com/github/Charee-Villapong/charee-villapong/blob/master/%E3%82%B2%E3%83%BC%E3%83%A0%E3%82%92%E5%89%8A%E9%99%A4%E3%81%97%E3%81%A6%E3%81%84%E3%81%AA%E3%81%84%E3%83%A6%E3%83%BC%E3%82%B6%E3%83%BC%E3%81%AF%E4%BD%95%E4%BA%BA%E3%81%84%E3%82%8B%E3%81%8B%E5%87%BA%E5%8A%9B.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**ゲームを削除していないユーザーは何人いるか出力**

In [ ]:
import sqlite3
filepath = "test2.sqlite"
conn = sqlite3.connect(filepath) 
cur = conn.cursor()
cur.execute("DROP TABLE IF EXISTS user_master")
cur.execute("""CREATE TABLE user_master(
    user_id UNIQUE,
    install_datetime INTEGER,
    delete_flg INTEGER
)""")
conn.commit()

In [ ]:
cur = conn.cursor()
data = [(10001,'2016-03-19 15:45:00',0),
(10002,'2016-03-21 12:30:00',1),
(10003,'2016-03-23 09:15:00',0),
(10004,'2016-03-25 06:00:00',0),
(10005,'2016-04-02 10:00:00',1),
(10006,'2016-04-02 12:50:00',0),
(10007,'2016-04-30 15:00:00',0)]
cur.executemany(
    "INSERT INTO user_master (user_id, install_datetime,delete_flg) VALUES (?,?,?)", data)
conn.commit()

In [ ]:
cur = conn.cursor()
cur.execute("SELECT COUNT(*) FROM user_master WHERE delete_flg = 0")
items_list = cur.fetchall()
items_list

[(5,)]