<a href="https://colab.research.google.com/github/Charee-Villapong/charee-villapong/blob/master/%E5%95%8F2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**quest_id毎の勝率を出力**

In [ ]:
import sqlite3
filepath = "test2.sqlite"
conn = sqlite3.connect(filepath) 
cur = conn.cursor()
cur.execute("DROP TABLE IF EXISTS quest_log")
cur.execute("""CREATE TABLE quest_log(
    user_id INTEGER,
    timestamp INTEGER,
    quest_id INTEGER,
    result INTEGER
)""")
conn.commit()

In [ ]:
cur = conn.cursor()
data = [(10001,	'2016-03-19 15:55:00',1001,1),
(10001,'2016-03-19 15:57:00',1002,1),
(10001,'2016-03-19 16:00:00',1003,0),
(10001,'2016-03-19 16:02:00',1003,1),
(10001,'2016-03-19 16:07:00',2001,1),
(10001,'2016-03-23 14:20:00',1000101,0),
(10001,'2016-03-23 14:28:00',1000101,0),
(10001,'2016-03-23 14:31:00',1000101,1),
(10003,'2016-03-23 11:05:00',1001,1),
(10003,'2016-03-23 11:07:00',1002,1),
(10003,'2016-03-23 11:10:00',1003,1),
(10003,'2016-03-23 11:15:00',2001,1),
(10003,'2016-03-23 11:19:00',2002,1),
(10003,'2016-03-23 11:22:00',2003,1),
(10003,'2016-03-23 11:30:00',3001,1),
(10006,'2016-04-02 13:05:00',1001,1),
(10007,'2016-04-30 19:05:00',1001,1),
(10007,'2016-04-30 19:07:00',1002,1),
(10007,'2016-04-30 19:10:00',1003,1),
(10007,'2016-05-01 19:05:00',2001,1),
(10007,'2016-05-01 19:07:00',2002,1),
(10007,'2016-05-01 19:10:00',2003,1),
(10007,'2016-05-02 19:05:00',3001,0)]
cur.executemany(
    "INSERT INTO quest_log(user_id,timestamp,quest_id,result) VALUES (?,?,?,?)", data)
conn.commit()

In [ ]:
cur = conn.cursor()
cur.execute("select quest_id , sum(result)*1.0 / count(result) from quest_log group by quest_id")
items_list = cur.fetchall()
items_list

[(1001, 1.0),
 (1002, 1.0),
 (1003, 0.75),
 (2001, 1.0),
 (2002, 1.0),
 (2003, 1.0),
 (3001, 0.5),
 (1000101, 0.3333333333333333)]