<a href="https://colab.research.google.com/github/Charee-Villapong/charee-villapong/blob/master/%E6%A4%9C%E5%AE%9Apractice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [62]:
from google.colab import auth
from oauth2client.client import GoogleCredentials
import gspread
import pandas as pd
from scipy import stats

In [63]:
auth.authenticate_user()

In [64]:
gc = gspread.authorize(GoogleCredentials.get_application_default())

In [65]:
url = '[https://docs.google.com/spreadsheets/d/1QG2oQBYH9Qr-siJ2Gwo8FFEedX6gtLdG3btnHE4ySaU/edit#gid=0]'

In [66]:
worksheet = gc.open_by_url(url).get_worksheet(0)

In [67]:
dat = worksheet.get_all_values()
col = dat.pop(0)
df = pd.DataFrame(dat, columns=col)

In [68]:
df.head()

0    名前  性別  反復横跳び(1回目)  反復横跳び(2回目)  腕立て伏せ(1回目)  腕立て伏せ(2回目)  バク転
1     A  男性          19          25           1           0    ○
2     B  女性          51          35           4           4    ×
3     C  男性          53           8           6           7    ○
4     D  男性          20           6           4           6    ×

In [69]:
df.columns = df.iloc[0]
df.head()

0    名前  性別  反復横跳び(1回目)  反復横跳び(2回目)  腕立て伏せ(1回目)  腕立て伏せ(2回目)  バク転
0    名前  性別  反復横跳び(1回目)  反復横跳び(2回目)  腕立て伏せ(1回目)  腕立て伏せ(2回目)  バク転
1     A  男性          19          25           1           0    ○
2     B  女性          51          35           4           4    ×
3     C  男性          53           8           6           7    ○
4     D  男性          20           6           4           6    ×

In [70]:
df = df.drop(df.index[0])

In [71]:
df.set_index("名前")

0     性別 反復横跳び(1回目) 反復横跳び(2回目) 腕立て伏せ(1回目) 腕立て伏せ(2回目) バク転
名前
A     男性         19         25          1          0   ○
B     女性         51         35          4          4   ×
C     男性         53          8          6          7   ○
D     男性         20          6          4          6   ×
E     女性         20         29          3          3   ×
F     男性         56         22          0          1   ○
G     女性          6         32          9          6   ×
H     女性         43         55          4          5   ×
I     女性         55         34          9          4   ○
J     女性          1          9          9          2   ×
K     男性         49         20         40         41   ○
L     女性         46         23          5          2   ×
M     女性          0         46          7          0   ○
N     男性          8         10         25         28   ○
O     女性         48         23          2          8   ×

In [72]:
df.dtypes

0
              object
名前            object
性別            object
反復横跳び(1回目)    object
反復横跳び(2回目)    object
腕立て伏せ(1回目)    object
腕立て伏せ(2回目)    object
バク転           object
dtype: object

In [73]:
df.columns

Index(['', '名前', '性別', '反復横跳び(1回目)', '反復横跳び(2回目)', '腕立て伏せ(1回目)', '腕立て伏せ(2回目)',
       'バク転'],
      dtype='object', name=0)

In [74]:
df[['反復横跳び(1回目)', '反復横跳び(2回目)', '腕立て伏せ(1回目)', '腕立て伏せ(2回目)']] = df[['反復横跳び(1回目)', '反復横跳び(2回目)', '腕立て伏せ(1回目)', '腕立て伏せ(2回目)']].astype(int)

In [75]:
df.head()

0   名前  性別  反復横跳び(1回目)  反復横跳び(2回目)  腕立て伏せ(1回目)  腕立て伏せ(2回目) バク転
1    A  男性          19          25           1           0   ○
2    B  女性          51          35           4           4   ×
3    C  男性          53           8           6           7   ○
4    D  男性          20           6           4           6   ×
5    E  女性          20          29           3           3   ×

In [76]:
df.dtypes

0
              object
名前            object
性別            object
反復横跳び(1回目)     int64
反復横跳び(2回目)     int64
腕立て伏せ(1回目)     int64
腕立て伏せ(2回目)     int64
バク転           object
dtype: object

In [77]:
stats.ttest_1samp(df['反復横跳び(1回目)'] , popmean=1)

Ttest_1sampResult(statistic=5.528599711958918, pvalue=7.433373686242094e-05)

In [78]:
stats.ttest_rel(df['反復横跳び(1回目)'] ,df['反復横跳び(2回目)'] )

Ttest_relResult(statistic=1.023925076793684, pvalue=0.3232386143099819)

In [79]:
df[df["性別"]=="男性"]['反復横跳び(1回目)']

1     19
3     53
4     20
6     56
11    49
14     8
Name: 反復横跳び(1回目), dtype: int64

In [80]:
stats.ttest_ind(df[df["性別"]=="男性"]['反復横跳び(1回目)'],df[df["性別"]=="女性"]['反復横跳び(1回目)'])

Ttest_indResult(statistic=0.356337300483963, pvalue=0.727304585951813)

In [81]:
stats.bartlett(df[df["性別"]=="男性"]['反復横跳び(1回目)'],df[df["性別"]=="女性"]['反復横跳び(1回目)'])

BartlettResult(statistic=0.055558275456061595, pvalue=0.813659238324575)