<a href="https://colab.research.google.com/github/Charee-Villapong/charee-villapong/blob/master/%E6%A4%9C%E5%AE%9Apractice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import auth
from oauth2client.client import GoogleCredentials
import gspread
import pandas as pd
from scipy import stats

In [3]:
auth.authenticate_user()

In [4]:
gc = gspread.authorize(GoogleCredentials.get_application_default())

In [5]:
url = '[https://docs.google.com/spreadsheets/d/1QG2oQBYH9Qr-siJ2Gwo8FFEedX6gtLdG3btnHE4ySaU/edit#gid=0]'

In [6]:
worksheet = gc.open_by_url(url).get_worksheet(0)

In [7]:
dat = worksheet.get_all_values()
col = dat.pop(0)
df = pd.DataFrame(dat, columns=col)

In [8]:
df.head()

0    名前  性別  反復横跳び(1回目)  反復横跳び(2回目)  腕立て伏せ(1回目)  腕立て伏せ(2回目)  バク転
1     A  男性          19          58           0           5    ○
2     B  女性          14          36           5           2    ×
3     C  男性          43          51           1           3    ○
4     D  男性           7          32           3           8    ×

In [9]:
df.columns = df.iloc[0]
df.head()

0    名前  性別  反復横跳び(1回目)  反復横跳び(2回目)  腕立て伏せ(1回目)  腕立て伏せ(2回目)  バク転
0    名前  性別  反復横跳び(1回目)  反復横跳び(2回目)  腕立て伏せ(1回目)  腕立て伏せ(2回目)  バク転
1     A  男性          19          58           0           5    ○
2     B  女性          14          36           5           2    ×
3     C  男性          43          51           1           3    ○
4     D  男性           7          32           3           8    ×

In [10]:
df = df.drop(df.index[0])

In [11]:
df.set_index("名前")

0     性別 反復横跳び(1回目) 反復横跳び(2回目) 腕立て伏せ(1回目) 腕立て伏せ(2回目) バク転
名前
A     男性         19         58          0          5   ○
B     女性         14         36          5          2   ×
C     男性         43         51          1          3   ○
D     男性          7         32          3          8   ×
E     女性         48          1          0          6   ×
F     男性          0         54          5          8   ○
G     女性         35          0          6          5   ×
H     女性          8         22          4          9   ×
I     女性         15         59          4          0   ○
J     女性         24         25          9          2   ×
K     男性         55         17         40         41   ○
L     女性          0         59          4          1   ×
M     女性         34         29          1          9   ○
N     男性         15         19         25         28   ○
O     女性         60          5          0          1   ×

In [12]:
df.dtypes

0
              object
名前            object
性別            object
反復横跳び(1回目)    object
反復横跳び(2回目)    object
腕立て伏せ(1回目)    object
腕立て伏せ(2回目)    object
バク転           object
dtype: object

In [13]:
df.columns

Index(['', '名前', '性別', '反復横跳び(1回目)', '反復横跳び(2回目)', '腕立て伏せ(1回目)', '腕立て伏せ(2回目)',
       'バク転'],
      dtype='object', name=0)

In [14]:
df[['反復横跳び(1回目)', '反復横跳び(2回目)', '腕立て伏せ(1回目)', '腕立て伏せ(2回目)']] = df[['反復横跳び(1回目)', '反復横跳び(2回目)', '腕立て伏せ(1回目)', '腕立て伏せ(2回目)']].astype(int)

In [15]:
df.head()

0   名前  性別  反復横跳び(1回目)  反復横跳び(2回目)  腕立て伏せ(1回目)  腕立て伏せ(2回目) バク転
1    A  男性          19          58           0           5   ○
2    B  女性          14          36           5           2   ×
3    C  男性          43          51           1           3   ○
4    D  男性           7          32           3           8   ×
5    E  女性          48           1           0           6   ×

In [16]:
df.dtypes

0
              object
名前            object
性別            object
反復横跳び(1回目)     int64
反復横跳び(2回目)     int64
腕立て伏せ(1回目)     int64
腕立て伏せ(2回目)     int64
バク転           object
dtype: object

In [17]:
stats.ttest_1samp(df['反復横跳び(1回目)'] , popmean=1)

Ttest_1sampResult(statistic=4.768113496453181, pvalue=0.0003000334389380121)

In [18]:
stats.ttest_rel(df['反復横跳び(1回目)'] ,df['反復横跳び(2回目)'] )

Ttest_relResult(statistic=-0.6370562533710827, pvalue=0.5343676346838853)

In [19]:
df[df["性別"]=="男性"]['反復横跳び(1回目)']

1     19
3     43
4      7
6      0
11    55
14    15
Name: 反復横跳び(1回目), dtype: int64

In [20]:
stats.ttest_ind(df[df["性別"]=="男性"]['反復横跳び(1回目)'],df[df["性別"]=="女性"]['反復横跳び(1回目)'])

Ttest_indResult(statistic=-0.30682368770307106, pvalue=0.7638369062554015)

In [21]:
stats.bartlett(df[df["性別"]=="男性"]['反復横跳び(1回目)'],df[df["性別"]=="女性"]['反復横跳び(1回目)'])

BartlettResult(statistic=0.04776303821893261, pvalue=0.8270025022543076)

In [24]:
stats.wilcoxon(df['反復横跳び(1回目)'] ,df['反復横跳び(2回目)'] )

WilcoxonResult(statistic=46.0, pvalue=0.42652824883677154)

In [27]:
stats.mannwhitneyu(df[df["性別"]=="男性"]['反復横跳び(1回目)'],df[df["性別"]=="女性"]['反復横跳び(1回目)'])

MannwhitneyuResult(statistic=24.0, pvalue=0.3839376005716386)

In [31]:
cross = pd.crosstab(df["性別"],df["バク転"])
cross

バク転  ×  ○
性別
女性   7  2
男性   1  5

In [30]:
stats.chi2_contingency(cross)

(3.2254464285714293, 0.07250202542192893, 1, array([[4.8, 4.2],
        [3.2, 2.8]]))