<a href="https://colab.research.google.com/github/Charee-Villapong/charee-villapong/blob/master/%E6%A4%9C%E5%AE%9Apractice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
from google.colab import auth
from oauth2client.client import GoogleCredentials
import gspread
import pandas as pd

In [13]:
auth.authenticate_user()

In [14]:
gc = gspread.authorize(GoogleCredentials.get_application_default())

In [15]:
url = '[https://docs.google.com/spreadsheets/d/1QG2oQBYH9Qr-siJ2Gwo8FFEedX6gtLdG3btnHE4ySaU/edit#gid=0]'

In [16]:
worksheet = gc.open_by_url(url).get_worksheet(0)

In [22]:
df = pd.DataFrame(worksheet.get_all_values())

In [18]:
df.head
#df.set_columns("名前")

  0   1   2           3           4           5           6    7
0
1    名前  性別  反復横跳び(1回目)  反復横跳び(2回目)  腕立て伏せ(1回目)  腕立て伏せ(2回目)  バク転
2     A   0          29           9          13          48    6
3     B   1          58          44          49          39    0
4     C   0           4          12          51          55    5