<a href="https://colab.research.google.com/github/Charee-Villapong/charee-villapong/blob/master/%E6%A4%9C%E5%AE%9Apractice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [167]:
from google.colab import auth
from oauth2client.client import GoogleCredentials
import gspread
import pandas as pd
from scipy import stats

In [168]:
auth.authenticate_user()

In [169]:
gc = gspread.authorize(GoogleCredentials.get_application_default())

In [170]:
url = '[https://docs.google.com/spreadsheets/d/1QG2oQBYH9Qr-siJ2Gwo8FFEedX6gtLdG3btnHE4ySaU/edit#gid=0]'

In [171]:
worksheet = gc.open_by_url(url).get_worksheet(0)

In [172]:
dat = worksheet.get_all_values()
col = dat.pop(0)
df = pd.DataFrame(dat, columns=col)

In [173]:
df
#df.set_columns("名前")

0     名前  性別  反復横跳び(1回目)  反復横跳び(2回目)  腕立て伏せ(1回目)  腕立て伏せ(2回目)  バク転
1      A   1          28          29          52          19    ○
2      B   1           6          51          18          21    ×
3      C   0          27          14          23          21    ○
4      D   0          34          18          13          20    ×
5      E   1          35          47          39          37    ×
6      F   1          17          40          24          36    ○
7      G   1           7          40          35          23    ×
8      H   1          19           3          27          59    ×
9      I   1          48          19          47           5    ○
10     J   1           4          32           3          22    ×
11     K   0          53          40          42          15    ○
12     L   0          19          59           1          40    ×
13     M   0           0          48          10           3    ○
14     N   0          23          50          34          15    ○
15     O   0          41          56          15          51    ×

In [174]:
len(df.loc[0])

8

In [175]:
df.columns=["a","名前","性別"," 反復横跳び(1回目)"," 反復横跳び(2回目)","腕立て伏せ(1回目)","腕立て伏せ(2回目)","バク転"]

In [176]:
df.head()

  a  名前  性別  反復横跳び(1回目)  反復横跳び(2回目)  腕立て伏せ(1回目)  腕立て伏せ(2回目)  バク転
0    名前  性別  反復横跳び(1回目)  反復横跳び(2回目)  腕立て伏せ(1回目)  腕立て伏せ(2回目)  バク転
1     A   1          28          29          52          19    ○
2     B   1           6          51          18          21    ×
3     C   0          27          14          23          21    ○
4     D   0          34          18          13          20    ×

In [177]:
df = df.drop("a",axis=1)

In [178]:
df.index.dtype

dtype('int64')

In [179]:
df.iloc[0]

名前                     名前
性別                     性別
 反復横跳び(1回目)    反復横跳び(1回目)
 反復横跳び(2回目)    反復横跳び(2回目)
腕立て伏せ(1回目)     腕立て伏せ(1回目)
腕立て伏せ(2回目)     腕立て伏せ(2回目)
バク転                   バク転
Name: 0, dtype: object

In [180]:
df = df.drop(0)

In [181]:
df = df.set_index("名前")

In [182]:
df.index

Index(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N',
       'O'],
      dtype='object', name='名前')

In [183]:
df.head()

   性別  反復横跳び(1回目)  反復横跳び(2回目) 腕立て伏せ(1回目) 腕立て伏せ(2回目) バク転
名前
A   1          28          29         52         19   ○
B   1           6          51         18         21   ×
C   0          27          14         23         21   ○
D   0          34          18         13         20   ×
E   1          35          47         39         37   ×

In [198]:
df.columns
df[" 反復横跳び(2回目)"].dtype

dtype('O')

In [199]:
df.columns

Index(['性別', ' 反復横跳び(1回目)', ' 反復横跳び(2回目)', '腕立て伏せ(1回目)', '腕立て伏せ(2回目)', 'バク転'], dtype='object')

In [202]:
df = df[['性別', ' 反復横跳び(1回目)', ' 反復横跳び(2回目)', '腕立て伏せ(1回目)', '腕立て伏せ(2回目)']].astype(int)

In [206]:
stats.ttest_1samp(df[' 反復横跳び(1回目)'] , popmean=16)

Ttest_1sampResult(statistic=1.9373023048704332, pvalue=0.07315136562250316)

In [207]:
stats.ttest_rel(df[' 反復横跳び(1回目)'] ,df[' 反復横跳び(2回目)'] )

Ttest_relResult(statistic=-1.9009923139403948, pvalue=0.0780891974888785)